# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Relatiive.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\LucianoJung\Documents\LocalProjects\Relatiive\.idea\.idea.Relatiive\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
